

nav{ 
   float: left; 
   font-size: 25px;
   width: 377px;
   margin: 78px;
   opacity: 0.9;
   padding: 20px;
   background: navy;
   opacity: 0.7;
   
   
}

p{
  color: white;
  text-shadow: 1px 2px 2px red;
  font-size: 27px;
  width: 1320px;
  line-height: 25px;
  font-family: charlemagne std;
  padding: 45px;
  font-family: clicker script;
  background: blue;
  
  
}


h1{
   border-style: outset;
   border-color: navy ;
   border-width: 7px;
   background: blue; 
   line-height: 56px;
   margin: 6px;
   text-shadow: 5px 4px 4px white;
   text-align: center;
   font-size: 85px;
   float: right;
   font-family: desdemona;
   width: 1342px;
   color: navy;
   padding: 20px;
   box-shadow: 1px 2px 3px yellow;
     
}

article{
        color: navy;
        text-shadow: 1px 2px 1px red;
        font-size: 27px;
        line-height: 30px;
        font-family: charlemagne std;
        width: 1380px;
        font-family: clicker script;
        padding: 20px;
        text-align: center;
        float: right;
      
}

h2{
   text-align: center;
   font-size: 45px;
   text-decoration: underline;
   color: red;
   font-family: desdemona;
   text-shadow: 1px 3px 2px red   
}

ul li{
      float: left;
      border-width: 20px;
      border-color: blue;
      list-style-type: none;
      border-style: inset;
      background: red; 
      
      
}

ol li{
     text-align: center;
     text-shadow: 1px 2px 3px white;
     font-size: 18px;
     color: white;
     width: 1290px;
     float: left;
     background: red; 
     border-style: dotted;
     border-color: blue;
     border-width: 2px;
     opacity: 0.8;
     list-style-type: none;
     
     
}

section{
       border-style: outset;
       border-color: blue;
       border-width: 10px;
       width: 1387px;
       float: right;
       
       
       
}

img{
    width: 1385px;
    height: 450px;
    
}

aside{
      float: left;
      text-shadow: 1px 2px 1px blue;
      color: blue;
}


a:hover{
        background: blue;
        color: white;
  
}


a:link{
       color: white
}


a:visited{
          color: white;
    
  }

a:active{
         color: yellow;
    
  }

body{
     background: silver ;
}

.ad{
    text-align: left;
}







      
  
        
     
      
   
   

































