

nav{ 
   float: right; 
   font-size: 25px;
   width: 375px;
   margin: 82px;
   opacity: 0.9;
   padding: 22px;
   background: blue;
   text-shadow: 1px 1px 1px white;
   border-style:outset;
   border-color: blue;
   box-shadow:1px 2px 3px navy;
   
}

p{
  color: white;
  text-shadow: 1px 2px 2px red;
  font-size: 27px;
  width: 710px;
  line-height: 25px;
  font-family: charlemagne std;
  padding: 40px;
  font-family: clicker script;
  background: red;
  border-style: inset;
  border-width: 17px;
  border-color: navy;
  text-align: center;
  opacity: 0.8;
 
  
  
  
}


h1{
   border-style: outset;
   border-color: red;
   border-width: 25px;
   background: orange; 
   line-height: 175px;
   margin: 52px;
   text-shadow: 3px 3px 3px red;
   text-align: center;
   font-size: 75px;
   float: left;
   font-family: desdemona;
   width: 1212px;
   color: navy;
   padding: 20px;
   box-shadow: 1px 3px 5px red;
}

article{
        color: white;
        text-shadow: 3px 2px 3px white;
        font-size: 29px;
        background: blue;
        line-height: 25px;
        font-family: charlemagne std;
        width: 1260px;
        font-family: clicker script;
        padding: 15px;
        text-align: center;
        box-shadow: 1px 2px 1px red;
        border-color:navy;
        border-style: outset;
        border-width: 5px
        
        
      
}

h2{
   text-align: center;
   font-size: 45px;
   text-decoration: underline;
   color: navy;
   font-family: desdemona;
   text-shadow: 1px 2px 2px red; 
   float:left;
   width: 1287px;
   background: orange;
   border-style:inset;
   border-width: 5px
 
}

ul li{
      float: left;
      border-width: 23px;
      border-color: red;
      list-style-type: none;
      border-style: outset;
      background: red;
      
      
      
      
}

ol li{
     text-align: center;
     text-shadow: 1px 2px 3px white;
     font-size: 1em/'18px'/;
     color: white;
     width: 1220px;
     float: left;
     background: red;
     padding:2px;
     border-width:2px;
     list-style-type: none;
     opacity: 0.9
     
     
}

section{
       border-style: outset;
       border-color: blue;
       border-width: 8px;
       width: 1275px;
       float: left;
       opacity: 0.9;
      padding-left: 2px;
       
       
       
}

img{
    width: 1280px;
    height: 650px;
    float: left;
    box-shadow: 2px 2px 4px red
    
}

aside{
      float: left;
      text-shadow: 1px 2px 1px blue;
      color: blue;
}


a:hover{
        background: blue;
        color: white;
  
}


a:link{
       color: white
}


a:visited{
          color: white;
    
  }

a:active{
         color: yellow;
    
  }

body{
     background: red ;
     font: 100% 1.5,desdemona:/'16px/;
  
}

.ad{
    text-align: left;
}


#wrapper{
        width: 1300px;
        margin: 53px;
        background: navy;
}

.intro{
       font-weight: normal;
       overflow: hidden;
       
}

.ad{
    font-weight: normal;
     overflow: hidden;
     text-shadow: 1px 2px 3px;
}


        
        







      
  
        
     
      
   
   





































































